@page "/pizzas"
@using BlazingPizza.Data
@inject PizzaService PizzaSvc

<h1>Choose your pizza</h1>

@if (todaysPizzas == null)
{
    <p>Loading pizzas...</p>
}
else
{
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var pizza in todaysPizzas)
        {
            <div class="col">
                <div class="card h-100">
                    <img src="@pizza.ImageUrl" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">@pizza.Name</h5>
                        <p class="card-text">@pizza.Description</p>
                        <p class="fw-bold">₱@pizza.Price</p>

                        @if (pizza.Vegan)
                        {
                            <span class="badge bg-success">Vegan</span>
                        }
                        else if (pizza.Vegetarian)
                        {
                            <span class="badge bg-warning text-dark">Vegetarian</span>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    private Pizza[]? todaysPizzas;

    protected override async Task OnInitializedAsync()
    {
        todaysPizzas = await PizzaSvc.GetPizzasAsync();
    }
}
